on:
  workflow_call:
    inputs:
      expected-repository:
        description: The repository that contains the workflow file
        type: string
      expected-path:
        description: The path to the workflow file
        type: string
      expected-ref:
        description: The ref of the workflow file
        type: string
      expected-sha:
        description: The SHA of the workflow file
        type: string
jobs:
  test:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        runs-on: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Get job workflow
        id: job-workflow
        uses: jenseng/dynamic-uses@v1
        with:
          uses: jenseng/get-job-workflow/.github/actions/test@${{ github.sha }}
          with: |
            expected-repository: ${{ toJSON(inputs.expected-repository) }}
            expected-path: ${{ toJSON(inputs.expected-path) }}
            expected-ref: ${{ toJSON(inputs.expected-ref) }}
            expected-sha: ${{ toJSON(inputs.expected-sha) }}
