on:
  workflow_call:
    inputs:
      expected-repository:
        description: The repository that contains the workflow file
        type: string
      expected-path:
        description: The path to the workflow file
        type: string
      expected-ref:
        description: The ref of the workflow file
        type: string
      expected-sha:
        description: The SHA of the workflow file
        type: string
jobs:
  test:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        runs-on: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Get job workflow
        id: job-workflow
        uses: jenseng/dynamic-uses@v1
        with:
          uses: jenseng/get-job-workflow@${{ github.sha }}
      - name: Assert repository
        env:
          expected_repository: ${{ inputs.expected-repository }}
          actual_repository: ${{ fromJSON(steps.job-workflow.outputs.outputs).repository }}
        run: |
          if [[ "$expected_repository" != "$actual_repository" ]]; then
            echo "::error::Expected repository: $expected_repository"
            echo "::error::Actual repository: $actual_repository"
            exit 1
          fi
      - name: Assert path
        env:
          expected_path: ${{ inputs.expected-path }}
          actual_path: ${{ fromJSON(steps.job-workflow.outputs.outputs).path }}
        run: |
          if [[ "$expected_path" != "$actual_path" ]]; then
            echo "::error::Expected path: $expected_path"
            echo "::error::Actual path: $actual_path"
            exit 1
          fi
      - name: Assert ref
        env:
          expected_ref: ${{ inputs.expected-ref }}
          actual_ref: ${{ fromJSON(steps.job-workflow.outputs.outputs).ref }}
        run: |
          if [[ "$expected_ref" != "$actual_ref" ]]; then
            echo "::error::Expected ref: $expected_ref"
            echo "::error::Actual ref: $actual_ref"
            exit 1
          fi
      - name: Assert sha
        env:
          expected_sha: ${{ inputs.expected-sha }}
          actual_sha: ${{ fromJSON(steps.job-workflow.outputs.outputs).sha }}
        run: |
          if [[ "$expected_sha" != "$actual_sha" ]]; then
            echo "::error::Expected sha: $expected_sha"
            echo "::error::Actual sha: $actual_sha"
            exit 1
          fi